
.divHome {
    margin-top: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
}

.titleIndex {
    color: rgb(7, 22, 88);
    font-size: 40px;
}

p {
    margin-top: -20px;
}
img {
    width: 80px;
}