*{
    margin: 0;
    padding: 0;
}

img {
    height: 80px;
    width: 80px;
    border-radius: 100px;
}

.divBtn{
    font-weight: 500;
    width: 250px;
}

.userName {
    color: rgb(29, 29, 199);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 70px;
}

.date {
    margin-top: 8px;
    margin-bottom: 13px;
    color: darkgray;
}

p {
    display: flex;
    align-items: center;
}

.icons {
    color: darkgray;
    font-size: 18px;
}
 
th {
    font-size: 15px;
    color:black;
    background-color: #e0e0e054;
    text-transform: uppercase;
}

.menuTwo {
    word-spacing: 80px;
}

.menuTree {
    padding-left: 82px;
}

