<div class="container" > 
    <header>
      <mat-toolbar color="primary" (click)="sidenav.toggle()">
          <button mat-icon-button>
            <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
          </button>
          <span class="title">Controle de Usuários - SPA</span>
        </mat-toolbar>
    </header>
  
  <mat-sidenav-container>
      <mat-sidenav #sidenav autoFocus="false"
                    fixedInViewport="true" 
                    mode="push" 
                    [(opened)]="isMenuOpen" 
                    class="sidenav"
                    (click)="closeSideNav()"
      >
        <a mat-button routerLink="home">
            <mat-icon>home</mat-icon> Início</a>
        <a mat-button routerLink="cadastro">
            <mat-icon>app_registration</mat-icon> Cadastrar</a>
        <a mat-button routerLink="lista">
            <mat-icon>list_alt</mat-icon> Listar</a>
      </mat-sidenav>
  
      <mat-sidenav-content>

        <div class="body">
          <router-outlet> </router-outlet>
          <spa-footer></spa-footer>
        </div>
        
      </mat-sidenav-content>
  
    </mat-sidenav-container>
  
  </div>