.container {
    display: flex;
    flex-direction: column;
}

.title {
    text-transform: uppercase;
    padding-left: 26px;
}

.sidenav {
    width: 240px;
}

a {
    width: 100%;
    text-align: left;
}

.conteudo {
    padding: 18px 24px;
    height: 60ch;
    /* background-color: cornflowerblue; */
}
