.container {
    display: flex;
    flex-direction: column;
}

.title {
    text-transform: uppercase;
    padding-left: 26px;
}

.sidenav {
    width: 240px;
}

a {
    width: 100%;
    text-align: left;
}

.body {
    padding: -1px 0px;
    height: 66ch;
}
